<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <th:block th:insert="~{fragments/head :: headCdns}"   />

    <!-- Common css   -->
    <link href="/css/common.css"  rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <header>
        <div class="top-header">
            <span class="material-symbols-outlined">home</span>
        </div>

        <nav>

        </nav>

    </header>
    <main>
        <section>
            <div style="width:350px;margin:100px auto;">
                <form name="findPwForm" onsubmit="return false;">
                    <input class="form-control m-2" name="username" placeholder="Insert Your Username">
                    <input class="form-control m-2" name="nickname" placeholder="Insert Your Nickname">
                    <input class="form-control m-2" name="phone" placeholder="Insert Your PhonNumber(No Dash(-))">
                    <button class="btn btn-primary w-100 m-2" onclick="findIdFunc()">PW찾기</button>
                </form>

            </div>

        </section>

    </main>
    <footer>
    </footer>
</div>



<!-- Axios JS   -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- JS  -->
<script src="/js/common.js"></script>

<script>

    const findIdFunc = ()=>{
        //form에서 nickname,phone -> EndPoint(/user/findId) 전달
        const form = document.findPwForm;
        const username = form.username.value;
        const nickname = form.nickname.value;
        const phone = form.phone.value;

        const params = { params :  {"username" : username ,"nickname" : nickname,"phone":phone} };


        axios.post('/user/findPw',null,params)
        .then(res=>{
            console.log(res);
            alert("해당 이메일로 임시패스워드를 전송했습니다.");
            location.href="/login";
        })
        .catch(error=>console.log(err));


     }

</script>

</body>
</html>