<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <th:block th:insert="~{fragments/head :: headCdns}"   />

    <!-- Common css   -->
    <link href="css/common.css"  rel="stylesheet">
</head>
<body>

    <div class="wrapper">
        <header>
            <div class="top-header">
                <span class="material-symbols-outlined">home</span>
            </div>

             <nav>

             </nav>

        </header>
        <main>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
        </main>
        <footer>
        </footer>
    </div>



    <!-- Axios JS   -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- JS  -->
    <script src="js/common.js"></script>
</body>
</html>