<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="~{fragments/head :: headCdns}"></th:block>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="top-header">
                <nav>
                </nav>
            </div>
        </header>
        <main>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
        </main>
        <footer></footer>
    </div>
</body>
</html>